In [8]:
import pandas as pd
import numpy as np

In [9]:

movies_df = pd.read_csv('../datasets/movies_dataset.csv')

Observamos una apariencia general de nuestros datos

In [10]:
movies_df

,belongs_to_collection,budget,genres,id,original_language,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,release_year,return
0,[Toy Story Collection],30000000.0,"[Animation, Comedy, Family]",862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,[Pixar Animation Studios],[United States of America],1995-10-30,373554033.0,81.0,[English],Released,None,Toy Story,7.7,5415.0,1995,12.451801
1,None,65000000.0,"[Adventure, Fantasy, Family]",8844,en,When siblings Judy and Peter discover an encha...,17.015539,"[TriStar Pictures, Teitler Film, Interscope Co...",[United States of America],1995-12-15,262797249.0,104.0,"[English, Fran√ßais]",Released,Roll the dice and unleash the excitement!,Jumanji,6.9,2413.0,1995,4.043035
2,[Grumpy Old Men Collection],0.0,"[Romance, Comedy]",15602,en,A family wedding reignites the ancient feud be...,11.7129,"[Warner Bros., Lancaster Gate]",[United States of America],1995-12-22,0.0,101.0,[English],Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,6.5,92.0,1995,0.000000
3,None,16000000.0,"[Comedy, Drama, Romance]",31357,en,"Cheated on, mistreated and stepped on, the wom...",3.859495,[Twentieth Century Fox Film Corporation],[United States of America],1995-12-22,81452156.0,127.0,[English],Released,Friends are the people who let you be yourself...,Waiting to Exhale,6.1,34.0,1995,5.090760
4,[Father of the Bride Collection],0.0,[Comedy],11862,en,Just when George Banks has recovered from his ...,8.387519,"[Sandollar Productions, Touchstone Pictures]",[United States of America],1995-02-10,76578911.0,106.0,[English],Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,5.7,173.0,1995,inf
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45460,None,0.0,"[Drama, Action, Romance]",30840,en,"Yet another version of the classic epic, with ...",5.683753,"[Westdeutscher Rundfunk (WDR), Working Title F...","[Canada, Germany, United Kingdom, United State...",1991-05-13,0.0,104.0,[English],Released,None,Robin Hood,5.7,26.0,1991,0.000000
45462,None,0.0,[Drama],111109,tl,An artist struggles to finish his work while a...,0.178241,[Sine Olivia],[Philippines],2011-11-17,0.0,360.0,[],Released,None,Century of Birthing,9.0,3.0,2011,0.000000
45463,None,0.0,"[Action, Drama, Thriller]",67758,en,"When one of her hits goes wrong, a professiona...",0.903007,[American World Pictures],[United States of America],2003-08-01,0.0,90.0,[English],Released,A deadly game of wits.,Betrayal,3.8,6.0,2003,0.000000
45464,None,0.0,[],227506,en,"In a small town live two brothers, one a minis...",0.003503,[Yermoliev],[Russia],1917-10-21,0.0,87.0,[],Released,None,Satan Triumphant,0.0,0.0,1917,0.000000
45465,None,0.0,[],461257,en,50 years after decriminalisation of homosexual...,0.163015,[],[United Kingdom],2017-06-09,0.0,75.0,[English],Released,None,Queerama,0.0,0.0,2017,0.000000

<h2>TRANFORMACIONES</h2>

1. Algunos campos, como belongs_to_collection, production_companies y otros (ver diccionario de datos) est√°n anidados, esto es o bien tienen un diccionario o una lista como valores en cada fila, ¬°deber√°n desanidarlos para poder y unirlos al dataset de nuevo hacer alguna de las consultas de la API! O bien buscar la manera de acceder a esos datos sin desanidarlos.
2. Los valores nulos de los campos revenue, budget deben ser rellenados por el n√∫mero 0.
3. Los valores nulos del campo release date deben eliminarse.
4. De haber fechas, deber√°n tener el formato AAAA-mm-dd, adem√°s deber√°n crear la columna release_year donde extraer√°n el a√±o de la fecha de estreno.
5. Crear la columna con el retorno de inversi√≥n, llamada return con los campos revenue y budget, dividiendo estas dos √∫ltimas revenue / budget, cuando no hay datos disponibles para calcularlo, deber√° tomar el valor 0.
6. Eliminar las columnas que no ser√°n utilizadas, video,imdb_id,adult,original_title,poster_path y homepage.

<H3>APLICANDO TRANSFORMACIONES</H3>

6. Eliminar las columnas que no ser√°n utilizadas, video,imdb_id,adult,original_title,poster_path y homepage.

In [11]:
movies_df = movies_df.drop(columns=['video', 'imdb_id', 'adult', 'original_title', 'poster_path', 'homepage']).copy()

KeyError: "['video', 'imdb_id', 'adult', 'original_title', 'poster_path', 'homepage'] not found in axis"

1. Algunos campos, como belongs_to_collection, production_companies y otros (ver diccionario de datos) est√°n anidados, esto es o bien tienen un diccionario o una lista como valores en cada fila, ¬°deber√°n desanidarlos para poder y unirlos al dataset de nuevo hacer alguna de las consultas de la API! O bien buscar la manera de acceder a esos datos sin desanidarlos.

In [ ]:

#* Diccionario
display(movies_df.loc[movies_df.belongs_to_collection.index[0]][0])
#* Listas de diccionarios
display(movies_df.loc[movies_df.belongs_to_collection.index[0]][2])

"{'id': 10194, 'name': 'Toy Story Collection', 'poster_path': '/7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg', 'backdrop_path': '/9FBwqcd9IRruEDUrTdcaafOMKUq.jpg'}"

"[{'id': 16, 'name': 'Animation'}, {'id': 35, 'name': 'Comedy'}, {'id': 10751, 'name': 'Family'}]"

Encontramos la particularidad que en las columnas anidadas hay datos de tipo string con formato de diccionario y strings con formatos de tipo lista con diccionarios dentro

In [ ]:
movies_df.head()

,belongs_to_collection,budget,genres,id,original_language,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,7.7,5415.0
1,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8844,en,When siblings Judy and Peter discover an encha...,17.015539,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,6.9,2413.0
2,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",15602,en,A family wedding reignites the ancient feud be...,11.7129,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,6.5,92.0
3,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",31357,en,"Cheated on, mistreated and stepped on, the wom...",3.859495,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,6.1,34.0
4,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",11862,en,Just when George Banks has recovered from his ...,8.387519,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,5.7,173.0

Columnas con datos anidados:
- belongs_to_collection [Dict]
- genres [List]
- production_companies [List]
- production_countries [List]
- spoken_languages [List]

Para evitar problemas con la conversion de datos de tipo str a tipo dict o problemas con las listas y el tipo de dato. Se ha decidido utilizar expresiones regulares para encontrar la informacion relevante dentro de estos registros y solo mostrar estos

In [ ]:
import re

def parse_data(df, column):
    """
    Extrae los valores de una cadena, lista o diccionario en una columna espec√≠fica de un DataFrame.
    
    Args:
        df (DataFrame): DataFrame en el que se encuentra la columna a procesar.
        column (str): Nombre de la columna a procesar.
    
    Returns:
        DataFrame: DataFrame con la columna modificada, donde se han extra√≠do los valores.
    """
    def extract_values(value):
        """
        Extrae los valores de una cadena, lista o diccionario.
        
        Args:
            value: Valor a procesar.
        
        Returns:
            list or str or None: Valores extra√≠dos.
        """
        if isinstance(value, str):
            # Si es una cadena, extraer los valores con la expresi√≥n regular
            pattern = r"'name': '([^']*)'"
            coincidencias = re.findall(pattern, value)
            return coincidencias
        elif isinstance(value, list):
            # Si es una lista, extraer los valores de cada elemento de la lista
            values = []
            for i in value:
                if 'name' in i:
                    values.append(i['name'])
            return values
        elif isinstance(value, dict):
            # Si es un diccionario, extraer los valores de la clave 'name'
            if 'name' in value:
                return value['name']
        return None
    
    # Aplicar la funci√≥n a la columna y sobrescribir la columna
    df[column] = df[column].apply(extract_values)
    
    return df

In [ ]:
parse_data(movies_df, 'production_countries')
parse_data(movies_df, 'production_companies')
parse_data(movies_df, 'belongs_to_collection')
parse_data(movies_df, 'genres')
parse_data(movies_df, 'spoken_languages')

,belongs_to_collection,budget,genres,id,original_language,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,[Toy Story Collection],30000000,"[Animation, Comedy, Family]",862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,[Pixar Animation Studios],[United States of America],1995-10-30,373554033.0,81.0,[English],Released,NaN,Toy Story,7.7,5415.0
1,None,65000000,"[Adventure, Fantasy, Family]",8844,en,When siblings Judy and Peter discover an encha...,17.015539,"[TriStar Pictures, Teitler Film, Interscope Co...",[United States of America],1995-12-15,262797249.0,104.0,"[English, Fran√ßais]",Released,Roll the dice and unleash the excitement!,Jumanji,6.9,2413.0
2,[Grumpy Old Men Collection],0,"[Romance, Comedy]",15602,en,A family wedding reignites the ancient feud be...,11.7129,"[Warner Bros., Lancaster Gate]",[United States of America],1995-12-22,0.0,101.0,[English],Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,6.5,92.0
3,None,16000000,"[Comedy, Drama, Romance]",31357,en,"Cheated on, mistreated and stepped on, the wom...",3.859495,[Twentieth Century Fox Film Corporation],[United States of America],1995-12-22,81452156.0,127.0,[English],Released,Friends are the people who let you be yourself...,Waiting to Exhale,6.1,34.0
4,[Father of the Bride Collection],0,[Comedy],11862,en,Just when George Banks has recovered from his ...,8.387519,"[Sandollar Productions, Touchstone Pictures]",[United States of America],1995-02-10,76578911.0,106.0,[English],Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,5.7,173.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45461,None,0,"[Drama, Family]",439050,fa,Rising and falling between a man and woman.,0.072051,[],[Iran],NaN,0.0,90.0,[ŸÅÿßÿ±ÿ≥€å],Released,Rising and falling between a man and woman,Subdue,4.0,1.0
45462,None,0,[Drama],111109,tl,An artist struggles to finish his work while a...,0.178241,[Sine Olivia],[Philippines],2011-11-17,0.0,360.0,[],Released,NaN,Century of Birthing,9.0,3.0
45463,None,0,"[Action, Drama, Thriller]",67758,en,"When one of her hits goes wrong, a professiona...",0.903007,[American World Pictures],[United States of America],2003-08-01,0.0,90.0,[English],Released,A deadly game of wits.,Betrayal,3.8,6.0
45464,None,0,[],227506,en,"In a small town live two brothers, one a minis...",0.003503,[Yermoliev],[Russia],1917-10-21,0.0,87.0,[],Released,NaN,Satan Triumphant,0.0,0.0
45465,None,0,[],461257,en,50 years after decriminalisation of homosexual...,0.163015,[],[United Kingdom],2017-06-09,0.0,75.0,[English],Released,NaN,Queerama,0.0,0.0

In [ ]:
movies_df.columns

Index(['belongs_to_collection', 'budget', 'genres', 'id', 'original_language',
       'overview', 'popularity', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'vote_average',
       'vote_count'],
      dtype='object')

2.Los valores nulos de los campos revenue, budget deben ser rellenados por el n√∫mero 0.

In [ ]:
movies_df[['revenue', 'budget']] = movies_df[['revenue', 'budget']].fillna(0)

In [ ]:
movies_df[['revenue', 'budget']].isna().sum()

revenue    0
budget     0
dtype: int64

3. Eliminar registros con fechas nulas

In [ ]:
movies_df.release_date.isna().sum()

87

Eliminamos los 87 valores nulos como son pedidos

In [ ]:
movies_df.dropna(subset=['release_date'], inplace=True)

Volvemos a comprobar

In [ ]:
movies_df['release_date'].isna().sum()

0

4. De haber fechas, deber√°n tener el formato AAAA-mm-dd, adem√°s deber√°n crear la columna release_year donde extraer√°n el a√±o de la fecha de estreno.

In [ ]:
movies_df['release_date'] = pd.to_datetime(movies_df['release_date'], format='%Y-%m-%d', errors='coerce')
movies_df['release_year'] = movies_df['release_date'].dt.year.fillna(0).astype(int)

In [ ]:
movies_df.dtypes

belongs_to_collection            object
budget                           object
genres                           object
id                               object
original_language                object
overview                         object
popularity                       object
production_companies             object
production_countries             object
release_date             datetime64[ns]
revenue                         float64
runtime                         float64
spoken_languages                 object
status                           object
tagline                          object
title                            object
vote_average                    float64
vote_count                      float64
release_year                      int32
dtype: object

5. Crear la columna con el retorno de inversi√≥n, llamada return con los campos revenue y budget, dividiendo estas dos √∫ltimas revenue / budget, cuando no hay datos disponibles para calcularlo, deber√° tomar el valor 0.

Como podemos observar en la columna anterior; el dtype de budget y revenue es object y float respectivamente, lo cual no nos permite hacer el calculo aritmentico solicitado.

In [ ]:
# Convierte las columnas 'budget' y 'revenue' a num√©ricas para poder crear la columna solicitada
movies_df['budget'] = pd.to_numeric(movies_df['budget'], errors='coerce')
movies_df['revenue'] = pd.to_numeric(movies_df['revenue'], errors='coerce')

#Creamos la nueva columna return
movies_df['return'] = movies_df['revenue'] / movies_df['budget']
movies_df['return'] = movies_df['return'].fillna(0)

In [ ]:
movies_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 45379 entries, 0 to 45465
Data columns (total 20 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   belongs_to_collection  4491 non-null   object
 1   budget                 45376 non-null  float64
 2   genres                 45379 non-null  object
 3   id                     45379 non-null  object
 4   original_language      45368 non-null  object
 5   overview               44438 non-null  object
 6   popularity             45377 non-null  object
 7   production_companies   45379 non-null  object
 8   production_countries   45379 non-null  object
 9   release_date           45376 non-null  datetime64[ns]
 10  revenue                45379 non-null  float64
 11  runtime                45130 non-null  float64
 12  spoken_languages       45376 non-null  object
 13  status                 45296 non-null  object
 14  tagline                20398 non-null  object
 15  title                  45376 non-null  object
 16  vote_average           45376 non-null  float64
 17  vote_count             45376 non-null  float64
 18  release_year           45379 non-null  int32
 19  return                 45379 non-null  float64
dtypes: datetime64[ns](1), float64(6), int32(1), object(12)
memory usage: 7.1+ MB

Los datasets fueron transformados a formato parque para reducir su peso y su velocidad de analisis.

In [12]:
import pyarrow as pa
import pyarrow.parquet as pq

credits_df = pd.read_csv('../datasets/credits.csv')

# Especificar la ruta y nombre de archivo para el archivo Parquet de salida
output_movies = 'movie_dataset.parquet'
output_credits = 'credits.parquet'
# Convertir el DataFrame de pandas a una tabla de PyArrow
table_movies = pa.Table.from_pandas(movies_df)
table_credits = pa.Table.from_pandas(credits_df)
# Escribir la tabla en formato Parquet
pq.write_table(table_movies, output_movies)
pq.write_table(table_credits, output_credits)